@font-face {
    font-family: 'Roboto';
    src: url('./../public/fonts/roboto-latin-300.ef7c6637.woff2' ),
    url('./../public/fonts/roboto-latin-400.479970ff.woff2'),
    url('./../public/fonts/roboto-latin-500.020c97dc.woff2'), 
    url('./../public/fonts/roboto-latin-700.2735a3a6.woff2');
}


*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto';
}